.light {
  /* --bg-nav : 76,102,117; */
  --bg-nav: 76, 102, 117;
  --bg-drawer: 92, 186, 232;
  --bg-common: 243, 243, 243;
  --bg-card: 242, 245, 248;

  --active-bg: 48, 52, 58;

  --bg-offwhite: 243, 243, 243;

  --border-primary: 85, 183, 231;
  --border-secondary: 85, 183, 231;

  --icon-primary: 241, 113, 5, 0.7;
  --icon-secondary: 4, 150, 255, 0.7;

  --color-blue: 92, 186, 232;
  --color-pink: 213, 82, 155;
  --color-violet: 98, 77, 174;
  --color-white: 255, 255, 255;

  --font-black: 78, 78, 78;
  --font-blue: 35, 86, 225;
  --font-darkGrey: 76, 102, 117;
  --font-light: 255, 255, 255;

  --font-primary-white: 249, 249, 249;
  --font-secondary-white: 126, 131, 136, 1;

  --font-varient: Montserrat, sans-serif;
}

.dark {
  --bg-nav: 31, 34, 36; /*set*/
  --bg-drawer: 31, 34, 36; /*set*/
  --bg-common: 19, 21, 22; /*set*/
  --bg-card: 31, 34, 36; /*set*/

  --active-bg: 48, 52, 58; /*set*/

  --bg-offwhite: 243, 243, 243;

  --border-primary: 80, 83, 86; /*set*/
  --border-secondary: 126, 131, 136; /*set*/

  --icon-primary: 238, 239, 241; /*set*/
  --icon-secondary: 82, 83, 99; /*set*/
  --icon-green: 25, 86, 27;

  --color-blue: 92, 186, 232;
  --color-pink: 213, 82, 155;
  --color-violet: 98, 77, 174;
  --color-white: 255, 255, 255;

  --font-black: 78, 78, 78;
  --font-blue: 35, 86, 225;
  --font-darkGrey: 76, 102, 117;
  --font-light: 238, 239, 241; /*set*/

  --font-primary-white: 249, 249, 249; /*set*/
  --font-secondary-white: 126, 131, 136, 1; /*set*/

  --table-head: 74, 76, 79;
  --table-body: 74, 76, 79;

  --font-varient: Montserrat, sans-serif; /*set*/
}
